<!DOCTYPE html>

<html lang="ro-RO">  
<head>    
<meta charset="utf-8"/>          
<title>Proiect-Labrorator</title>  
</head>
    
<body>
      
<main id="content">  <%- body -%>  </main> 

</body>
    
</html>